/* extra css for pkgdown */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: "sans-serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: "sans-serif", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

pre, code {
  font-family: "Inconsolata", Consolas, monospace;
}

p.caption {
  font-size: 0.8em;
}